.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.bento_grid {
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    gap: 20px;
}

.bento_grid_item {
    position: relative;
}

.bento_grid_item img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.bento_grid_item:hover img {
    transform: scale(1.05);
}

/* Layout-specific styles */
.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.square {
    grid-row: span 1;
    grid-column: span 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 46, 46, 0.671);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
    transform: scale(1.05);
    flex-direction: column;
}

.box{
    display: flex;
    gap: 15px;
}

.bento_grid_item:hover .overlay {
    opacity: 1;
}

.icon_div{
    background-color: white;
    border-radius: 50%;
    height: 45px;
}

.icon {
    width: 45px !important;
    height: 45px !important;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    padding: 12px;
    margin-top: 2px;
}

.icon:hover {
    transform: scale(1.2);
}

.txt{
    color: white;
    text-align: center !important;
}

.details{
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
}